@page
@model SupermarketWEB.Pages.Details.IndexModel
@{
    ViewData["Title"] = "Index Details";
}

<h1>Index Details</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Details[0].Invoice)</th>
            <th>@Html.DisplayNameFor(model => model.Details[0].Product)</th>
            <th>@Html.DisplayNameFor(model => model.Details[0].Quantity)</th>
            <th>@Html.DisplayNameFor(model => model.Details[0].Price)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Details)
        {
            <tr>
                <td>@item.Invoice?.Number</td>
                <td>@item.Product?.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Price</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-page="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
